@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidenav {
  width: 8rem;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: -1rem;
}
.sidenav input {
  width: fit-content;
}
.sidenav #select {
  display: none;
}
.sidenav .active {
  display: block !important;
}
.sidenav .active a:hover {
  transition: background-color 0.5s ease;
  background-color: lightgray;
}
.sidenav a, .sidenav input {
  align-self: flex-end;
  float: right;
  color: black;
  text-align: center;
  padding: 1rem 0rem;
  text-decoration: none;
}
.sidenav .icon {
  display: none;
}

#projects li {
  font-size: 1rem;
}

#skills .skill-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact a {
  color: black;
  text-decoration: none;
}
#contact i {
  padding: 0rem 0.5rem;
}
#contact .contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#contact .contact-links .profile-links :hover {
  transform: translateY(4px);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  bottom: 0rem;
}

@media only screen and (min-width: 300px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .sidenav {
    display: none;
  }

  body {
    padding: 0rem 1rem;
    font-family: "Noto Sans", sans-serif;
  }

  #about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
  }
  #about figure {
    display: flex;
    align-self: center;
    flex-direction: column;
    float: right;
    text-align: center;
    width: 100%;
  }
  #about figure img {
    width: 100%;
  }
  #about figure figcaption {
    font-style: italic;
    margin-bottom: -2rem;
  }
  #about h1 {
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 2.3rem;
  }

  .sidenav {
    display: block;
    width: 5rem;
  }

  #about {
    display: block;
  }
  #about figure {
    float: right;
    width: 25rem;
  }
  #about figure img {
    float: right;
    width: 25rem;
  }

  #projects li {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 800px) {
  #sidenav {
    width: 8rem;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    display: flex;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
  }

  #page-container {
    padding: 0rem 5rem;
  }

  #about {
    display: block;
  }
  #about figure {
    float: right;
    width: 35rem;
  }
  #about figure img {
    float: right;
    width: 35rem;
  }

  #skills .skill-links {
    justify-content: unset;
  }
  #skills .skill-links .fab {
    padding: 0rem 1rem;
  }

  #projects li {
    font-size: 1rem;
  }

  #contact .contact-links {
    justify-content: unset;
  }
  #contact .contact-links .fab, #contact .contact-links .fas {
    padding: 0rem 2rem;
  }

  #footer {
    padding: 0rem 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
