@import url("https://use.typekit.net/wrq6kaq.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Artisan";
  src: url("./assets/font/artisan.otf");
  format: "otf";
}
