@import url("https://use.typekit.net/wrq6kaq.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hangul';
  src: url('./assets/font/hngl.otf');
  format: 'otf';
}
